
* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
  }
  body{
      width: 100%;
      height: 100vh;
  }
  
  .banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(img/nen3.jpg);
    background-size: cover;
    background-position: center;
  }
  
      .navbar {
          width: 85vw;
          margin: auto;
          padding: 0;
          display: flex;
          justify-content: space-between;
      }
  
          .logo {
              width: 48%;
              cursor: pointer;
              display: inline-flex;
              flex: 3;
          }
  
              .logo p {
                  margin-top: 5vh;
                  margin-left: 1vw;
                  font-size: 2.5vw;
                  font-weight: bold;
                  color:rgb(12, 108, 38);
              }
              
          .navbar ul {
              margin-top: 8vh;
              margin-left: 5vw;
              flex: 5;
          }
  
              .navbar ul li {
                  list-style: none;
                  display: inline-block;
                  margin: 0 1vw;
                  position: relative;
              }
  
                  .navbar ul li a {
                      text-decoration: none;
                      color: #fff;
                      text-transform: uppercase;
                      font-size: 1.2vw;
                  }
  
              .navbar ul li::after {
                  content: "";
                  height: 0.5vh;
                  width: 0;
                  background: rgb(12, 108, 38);
                  position: absolute;
                  left: 0;
                  bottom: -1vh;
                  transition: 0.5s;
              }
  
              .navbar ul li:hover::after {
                  width: 100%;
              }
  
                  .vietnamese {
                      position: absolute;
                      display: none;
                      top:-5vh;
                      right: -1.5vw;
                  }
  
                      .vietnamese li {
                          padding-top: 2vh;
                      }
  
                  .navbar ul li:hover .vietnamese {
                      display: block;
                  }
                  
  
      .content {
          width: 100%;
          position: absolute;
          top: 50vh;
          transform: translateY(-50%);
          text-align: center;
          color: #fff;
      }
  
          .content h1 {
              font-size: 7vw;
              margin-top: 7vh;
              margin-bottom: 5vh;
          }
  
          .content p { 
              font-size: 3vh;
              margin: 0 auto;
          }
  
  
    .anhto1 {
        opacity: 0.9;
        position: relative;
    }
    .img-title{
        position: absolute;
        color: white;
        bottom: 0%;
        font-size: 70px;
        right: 50%;
        transform: translate(50%, -90px);
        font-family: Mulish, sans-serif;
    }

    .container{
        border-radius: 15px;
        width: 800px;
        margin: 0 auto;
        margin-top: 5vh;

    }

    .wrap{
        width: 100%;
        background-color:  #131727;
        padding-bottom: 50px;
    }
    
    .anhto {
        width:100%;
        display: block;
    }
    .music { 
        opacity: 0.5;
        color: white;
    }
    .about-us {
    line-height: 38px;
    width: 200px;
    background: rgb(12 108 38);
    border-radius: 15px;
    height: 38px;
    margin: 0 auto;
    }
    .introduction {
        text-align: center;
        padding-top: 50px;
        margin: 0 auto; 
    }
    .enjoy {
        color: white;
        margin-top: 50px;
        opacity: 0.5;
        text-align: center;
        font-size: 16px;
        font-style: italic;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .artist {
     text-align: center;
     width: 200px;
    background:rgb(12 108 38);
    border-radius: 15px;
    height: 38px;
    margin: 0 auto;
    line-height: 38px;
    
    
    }

    .graph { 
        text-align: justify;
        color: #fbf8f8;
        border-radius: 15px;
        padding: 40px;
        line-height: 1.3;
        font-size: 15px;
    }

.flex-container1{
    margin-top: 50px;
    
}

.flex-container1,.flex-container2 {

        width: 720px;
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 50px;
        background: black;
        border-radius: 15px !important;
        padding-bottom: 40px;
      
}
.flex-container2 {
    padding-bottom: 40px;
    margin-top: 30px;
}

.a, .b, .c, .d, .e, .f{
    transform: scale(0.92);
    width: 15vw;
    border-radius: 13px;
}
.a1, .b1, .c1, .d1, .e1, .f1{
    text-align: center;
    padding-top: 3vh;
    margin: 0 ;
    font-size: 15px;
    padding-bottom: 3vh;
    background:rgb(12 108 38);
    border-radius: 0 0 15px 15px;
}
.a-des, .b-des, .c-des, .e-des, .d-des, .f-des{
    top: 50%;
    position: absolute;
    width: 355px;
    display: none;
    z-index: 1;
    background:linear-gradient(rgb(29 208 93),#3e493f);
    font-size: 13px;
    border-radius: 4px;
    text-align: justify;
    border-radius: 10px;
    padding: 16px;
    color: #000000;
    font-weight: 50;
    box-shadow: 1px 1px 3px #aaaaaa;
    animation: notifyGrowth ease-in 0.1s;
    transform-origin: calc(60% - 200px) -15px;
    will-change: opacity,transform;
   
}

.a-music:hover .a-des, .b-music:hover .b-des, .c-music:hover .c-des, .d-music:hover .d-des, .e-music:hover .e-des, .f-music:hover .f-des{
   display: block;

}
.a-music,.b-music, .c-music, .d-music, .e-music, .f-music {
    position: relative;
    background-color: rgb(43, 42, 42);
    color: white;
    border-radius: 15px;
}
@keyframes notifyGrowth {
    from {
        transform: scale(0.5);
        opacity: 0.5;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.picture {
    width: 30%;
    border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border: 2px solid #ddd;
 padding: 6px;
 margin-top: 30px;
}
.slogan {
    position: absolute;
        color: white;
        bottom: 0%;
        font-size: 20px;
        right: 50%;
        transform: translate(50%, -40px);
        font-family: Mulish, sans-serif;

}
.h1 { 
    text-align: center; 
    color: #fafafa; 
    font-size: 5vw; 
    padding:7vh 0;
}

.p {
    text-align: justify;
    font-size: 1.5vw;
    color: white;
    font-weight: 100;
    padding: 1px 15vw;
}

.footer {
    width: 100%;
    height: 320px;
    background-color: black;
    display: flex; 
    flex-direction: column;
    align-items: center;
    bottom: 0;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 50px;
}
    .footer p {
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    
    .footer input {
        display: none;
        margin-bottom: 5px;
    }
    
    .testimonials {
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        justify-content: center;
        min-height: 240px;
        perspective: 1000px;
        overflow: hidden;
        width: 100%;		
    }
        .testimonials .item {
            position: absolute;	
            width: 330px;
            padding: 10px 0px;
            border-radius: 5px;
            background-color:rgb(12 108 38);
            box-sizing: border-box;
            transition: transform 0.4s;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            user-select: none;
            cursor: pointer;
            display: flex; 
            flex-direction: column;
            align-items: center;	
        }
        
            .testimonials .item img {
                width: 125px;
                height: 125px;
                object-fit: cover;
                border-radius: 50%;
            }
            .testimonials .item p {
                font-weight: lighter;
                color: white;
                font-size: 10px;
            }
            .testimonials .item h2 {
                font-weight: lighter;
                font-size: 15px;
                color: white;
            }
            
    .dots {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
        .dots label {
            height: 5px;
            width: 5px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #413B52;
            margin: 7px;
            transition-duration: 0.2s;
        }

            #t-1:checked ~ .dots label[for="t-1"],
            #t-2:checked ~ .dots label[for="t-2"],
            #t-3:checked ~ .dots label[for="t-3"],
            #t-4:checked ~ .dots label[for="t-4"],
            #t-5:checked ~ .dots label[for="t-5"], 
            #t-6:checked ~ .dots label[for="t-6"],
            #t-7:checked ~ .dots label[for="t-7"]{
                transform: scale(2);
                background-color: #fff;
            }
            #t-1:checked ~ .dots label[for="t-2"],
            #t-2:checked ~ .dots label[for="t-1"],
            #t-2:checked ~ .dots label[for="t-3"],
            #t-3:checked ~ .dots label[for="t-2"],
            #t-3:checked ~ .dots label[for="t-4"],
            #t-4:checked ~ .dots label[for="t-3"],
            #t-4:checked ~ .dots label[for="t-5"],
            #t-5:checked ~ .dots label[for="t-4"],
            #t-5:checked ~ .dots label[for="t-6"],
            #t-6:checked ~ .dots label[for="t-5"],
            #t-6:checked ~ .dots label[for="t-7"],
            #t-7:checked ~ .dots label[for="t-6"],
            #t-7:checked ~ .dots label[for="t-1"] {
                transform: scale(1.5);
            }
            #t-1:checked ~ .testimonials label[for="t-3"],
            #t-2:checked ~ .testimonials label[for="t-4"],
            #t-3:checked ~ .testimonials label[for="t-5"],
            #t-4:checked ~ .testimonials label[for="t-6"],
            #t-5:checked ~ .testimonials label[for="t-7"],
            #t-6:checked ~ .testimonials label[for="t-1"],
            #t-7:checked ~ .testimonials label[for="t-2"] {
                transform: translate3d(600px, 0, -180px) rotateY(-25deg);
                z-index: 2;
            }
            #t-1:checked ~ .testimonials label[for="t-2"],
            #t-2:checked ~ .testimonials label[for="t-3"],
            #t-3:checked ~ .testimonials label[for="t-4"],
            #t-4:checked ~ .testimonials label[for="t-5"],
            #t-5:checked ~ .testimonials label[for="t-6"],
            #t-6:checked ~ .testimonials label[for="t-7"],
            #t-7:checked ~ .testimonials label[for="t-1"] {
                transform: translate3d(300px, 0, -90px) rotateY(-15deg);
                z-index: 3;
            }
            #t-2:checked ~ .testimonials label[for="t-1"],
            #t-3:checked ~ .testimonials label[for="t-2"],
            #t-4:checked ~ .testimonials label[for="t-3"],
            #t-5:checked ~ .testimonials label[for="t-4"],
            #t-6:checked ~ .testimonials label[for="t-5"],
            #t-7:checked ~ .testimonials label[for="t-6"],
            #t-1:checked ~ .testimonials label[for="t-7"] {
                transform: translate3d(-300px, 0, -90px) rotateY(15deg);
                z-index: 3;
            }
            #t-3:checked ~ .testimonials label[for="t-1"],
            #t-4:checked ~ .testimonials label[for="t-2"],
            #t-5:checked ~ .testimonials label[for="t-3"],
            #t-6:checked ~ .testimonials label[for="t-4"],
            #t-7:checked ~ .testimonials label[for="t-5"],
            #t-2:checked ~ .testimonials label[for="t-7"],
            #t-1:checked ~ .testimonials label[for="t-6"] {
                transform: translate3d(-600px, 0, -180px) rotateY(25deg);
            }
            #t-1:checked ~ .testimonials label[for="t-1"],
            #t-2:checked ~ .testimonials label[for="t-2"],
            #t-3:checked ~ .testimonials label[for="t-3"],
            #t-4:checked ~ .testimonials label[for="t-4"],
            #t-5:checked ~ .testimonials label[for="t-5"],
            #t-6:checked ~ .testimonials label[for="t-6"],
            #t-7:checked ~ .testimonials label[for="t-7"]{
                z-index: 4;
            }
